<div id="menu-bar" class="menu-bar">
  <img src="../assets/icons/shield.svg">
  <div class="vertical-line"></div>
  <div class="item">File
    <ul class="hidden">
      <li>New</li>
      <li>Open</li>
      <li>Save</li>
      <li>Settings</li>
    </ul>
  </div>
  <div class="item">Edit
    <ul class="hidden">
      <li>Cut</li>
      <li>Copy</li>
      <li>Undo</li>
      <li>Redo</li>
      <li>Delete</li>
      <li>Find</li>
    </ul>
  </div>
  <div class="item">View
    <ul class="hidden">
      <li>Windows</li>
      <li>Layouts</li>
      <li>Settings</li>
    </ul>
  </div>
  <div class="item">Tools
    <ul class="hidden">
      <li>Entities</li>
      <li>Resources Manager</li>
    </ul>
  </div>
  <div class="item">Help
    <ul class="hidden">
      <li>Getting started</li>
      <li>Check for Updates</li>
      <li>About</li>
    </ul>
  </div>
</div>