<div class="window">
    <div class="window-inner">
        <div class="window-header">
            <p class="window-title">First Window</p>
            <div>
                <img class="rotatable" src="../assets/icons/arrow-up.svg" alt="^">
                <img src="../assets/icons/minus.svg" alt="-">
                <img src="../assets/icons/maximize.svg" alt="o">
                <img src="../assets/icons/x.svg" alt="x">
            </div>
        </div>
        <div class="window-content">
            <div>
                <p>Cyan rules the waves!</p>
                <p>Description</p>
            </div>
        </div>
    </div>
    <div class="window-border">
        <div class="small">
            <div class="thin cursor-nwse" data-pivot="whxy"></div> <!-- TODO -->
            <div class="wide cursor-ns" data-pivot="hy"></div> <!-- TODO -->
            <div class="thin cursor-nesw" data-pivot="why"></div> <!-- TODO -->
        </div>
        <div class="tall">
            <div class="thin cursor-ew" data-pivot="wx"></div> <!-- TODO -->
            <div class="wide"></div>
            <div class="thin cursor-ew" data-pivot="w"></div>
        </div>
        <div class="small">
            <div class="thin cursor-nesw" data-pivot="whx"></div> <!-- TODO -->
            <div class="wide cursor-ns" data-pivot="h"></div>
            <div class="thin cursor-nwse" data-pivot="wh"></div>
        </div>
    </div>
</div>